<!DOCTYPE html>
<br>
<div class="card mb-3 mx-auto " style="max-width: 540px;">
  <div class="row no-gutters mx-auto ">
    <div class="col-md-4 mx-auto ">
	    <img src="{{image.path}}" class="card-img" alt="{{image.filename}}">
    </div>
    <div class="col-md-8 mx-auto ">
      <div class="card-body mx-auto ">
        <h3 class="card-title">Perfil completo</h3>
	<p class="card-text">Nombre: {{image.name}}</p>
	<p class="card-text">Religion: {{image.religion}}</p>
	<p class="card-text">Edad: {{image.year}}</p>
	<p class="card-text">Persona Favorita: {{image.favorite}}</p>
	<p class="card-text">Se Describe Como: {{image.descript}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>	
  </div>
</div>
